@font-face {
  font-family: "Soho Gothic W01 Light";
  src: url("../fonts/soho_gothic_light/cf0c19e1-bbc5-47a0-9a31-9c85f4a93401.eot?#iefix");
  src: url("../fonts/soho_gothic_light/cf0c19e1-bbc5-47a0-9a31-9c85f4a93401.eot?#iefix") format("eot"), url("../fonts/soho_gothic_light/d4fbadb6-703e-49d0-a195-84c39f891657.woff") format("woff"), url("../fonts/soho_gothic_light/073a86b5-49df-4c95-8627-7c1e97ceb661.ttf") format("truetype"), url("../fonts/soho_gothic_light/b30758e0-7935-4267-80e6-3686573ffad0.svg#b30758e0-7935-4267-80e6-3686573ffad0") format("svg");
}
@font-face {
  font-family: "Soho Gothic W01 Regular";
  src: url("../fonts/soho_gothic_regular/f46906bf-4fa9-4064-9d0a-7f3cad793af1.eot?#iefix");
  src: url("../fonts/soho_gothic_regular/f46906bf-4fa9-4064-9d0a-7f3cad793af1.eot?#iefix") format("eot"), url("../fonts/soho_gothic_regular/16716e40-a794-41a1-b88a-0f7df4fc7a19.woff") format("woff"), url("../fonts/soho_gothic_regular/c8f99b13-5b74-40ec-9f8c-ed3f7e79894c.ttf") format("truetype"), url("../fonts/soho_gothic_regular/d51c088b-5562-4fcd-9b90-fdd878a7845e.svg#d51c088b-5562-4fcd-9b90-fdd878a7845e") format("svg");
}
@font-face {
  font-family: "Soho Gothic W01 Bold";
  src: url("../fonts/soho_gothic_bold/ebde5cb0-b480-4ad1-9aff-7e9e103ea7c4.eot?#iefix");
  src: url("../fonts/soho_gothic_bold/ebde5cb0-b480-4ad1-9aff-7e9e103ea7c4.eot?#iefix") format("eot"), url("../fonts/soho_gothic_bold/dbdf858a-b51c-45fd-8551-ec94798d66f2.woff") format("woff"), url("../fonts/soho_gothic_bold/0ebe822a-9f3a-44dc-a4e2-8d039563f8ac.ttf") format("truetype"), url("../fonts/soho_gothic_bold/6b15af3f-0369-44a4-a538-8019af845355.svg#6b15af3f-0369-44a4-a538-8019af845355") format("svg");
}
._soho_lig {
  font-family: "Soho Gothic W01 Light";
}
._soho_reg {
  font-family: "Soho Gothic W01 Regular";
}
._soho_bld {
  font-family: "Soho Gothic W01 Bold";
}
body .loader {
  width: 86px;
  height: 86px;
  left: 50%;
  top: 50%;
  margin-top: -43px;
  margin-left: -43px;
  -webkit-animation-name: loader;
  -moz-animation-name: loader;
  -o-animation-name: loader;
  -ms-animation-name: loader;
  animation-name: loader;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}
body .loader.play {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  -ms-animation-play-state: running;
  animation-play-state: running;
}
body a > span,
body span.spritesheet {
  display: block;
}
@-moz-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-o-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  background-color: #fff;
  color: #000;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
#main {
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -ms-transition: opacity 1s linear;
  transition: opacity 1s linear;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#main.loaded {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#main .page {
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
}
.layer_0 {
  z-index: 0;
}
.layer_1 {
  z-index: 1;
}
.layer_2 {
  z-index: 2;
}
.layer_3 {
  z-index: 3;
}
.layer_4 {
  z-index: 4;
}
.layer_5 {
  z-index: 5;
}
.layer_6 {
  z-index: 6;
}
.layer_7 {
  z-index: 7;
}
.layer_8 {
  z-index: 8;
}
.layer_9 {
  z-index: 9;
}
.layer_10 {
  z-index: 10;
}
.layer_11 {
  z-index: 11;
}
.layer_12 {
  z-index: 12;
}
.layer_13 {
  z-index: 13;
}
.layer_14 {
  z-index: 14;
}
.layer_15 {
  z-index: 15;
}
.layer_16 {
  z-index: 16;
}
.layer_17 {
  z-index: 17;
}
.layer_18 {
  z-index: 18;
}
.layer_19 {
  z-index: 19;
}
.scrolling {
  pointer-events: none;
}
body #index {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f7be81;
  text-align: center;
}
body #index h1 {
  padding: 20px 0;
}
body #index a {
  text-decoration: underline;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  -ms-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
  color: #000;
}
body #index a:hover {
  color: #f00;
}
body #page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a9bcf5;
  text-align: center;
}
body #page h1 {
  padding: 20px 0;
}
body #page a {
  text-decoration: underline;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  -ms-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
  color: #000;
}
body #page a:hover {
  color: #f00;
}
