.spritesheet {
  background: url( '../images/spritesheet.png' ) no-repeat;
  background-size: 172px 86px;
}

.spritesheet.spin_black {
  width: 86px;
  height: 86px;
  background-position: 0 0;
}

.spritesheet.spin_white {
  width: 86px;
  height: 86px;
  background-position: -86px 0;
}



@media (min--moz-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(-webkit-min-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2) {
.spritesheet {
  background: url( '../images/spritesheet-retina.png' ) no-repeat;
  background-size: 172px 86px;
}

}
