body

	#index
		absolute: top left
		fullscreen()

		background-color: #F7BE81

		text-align: center

		h1
			padding: 20px 0

		a
			text-decoration: underline
			transition: color 0.25s ease-out
			color: black

			&:hover
				color: red

