ease-fn = cubic-bezier(0.150, 0.005, 0.215, 1.000)

fullscreen()
	width: 100%
	height: 100%

size(_width, _height)
	width: _width
	height: _height

hide()
	visibility: hidden
	opacity: 0

show()
	visibility: visible
	opacity: 1

abs_center(_width, _height)
	left: 50%
	top: 50%
	margin-top: -(_height/2)
	margin-left: -(_width/2)

// Offset the margin of an element
offset(value, direction = 'left')
	margin-{direction}: -(value/2)

hardware-accelerated()
	transform: translate3d(0,0,0)

random(n){ math(n, 'random') }

random-range(min, max)
	min + (random(1) * (max - min))

media-query(max-width, mixin)

	unquote("@media screen and (max-width: " + max-width + ") {")

	mixin()

	unquote("}")