@import 'nib'
@import '_mixins'
@import 'fonts'

// Loader
@import 'loader'


// Reset
global-reset()


// All
*
	-webkit-font-smoothing: antialiased
	-webkit-tap-highlight-color: rgba(0,0,0,0)


// Body
body
	background-color: white
	color           : black


// Header
#header
	//


// Links
a
	text-decoration: none
	color          : black

li
	list-style: none

// Main
#main
	transition: opacity 1s linear
	opacity   : 0

	&.loaded
		opacity: 1

	.page
		visibility: hidden
		opacity: 0


// Layers
.layer
	absolute top 0 left 0
	for i in 0...20
		&_{'%s' % i}
			z-index : i


// While Scrolling
.scrolling
	pointer-events: none
	

// Pages
@import 'sections/index'
@import 'sections/page'