@font-face
	font-family: "Soho Gothic W01 Light"
	src: url("../fonts/soho_gothic_light/cf0c19e1-bbc5-47a0-9a31-9c85f4a93401.eot?#iefix");
	src: url("../fonts/soho_gothic_light/cf0c19e1-bbc5-47a0-9a31-9c85f4a93401.eot?#iefix") format("eot"),
			 url("../fonts/soho_gothic_light/d4fbadb6-703e-49d0-a195-84c39f891657.woff") format("woff"),
			 url("../fonts/soho_gothic_light/073a86b5-49df-4c95-8627-7c1e97ceb661.ttf") format("truetype"),
			 url("../fonts/soho_gothic_light/b30758e0-7935-4267-80e6-3686573ffad0.svg#b30758e0-7935-4267-80e6-3686573ffad0") format("svg")


@font-face
	font-family: "Soho Gothic W01 Regular"
	src: url("../fonts/soho_gothic_regular/f46906bf-4fa9-4064-9d0a-7f3cad793af1.eot?#iefix");
	src: url("../fonts/soho_gothic_regular/f46906bf-4fa9-4064-9d0a-7f3cad793af1.eot?#iefix") format("eot"),
			 url("../fonts/soho_gothic_regular/16716e40-a794-41a1-b88a-0f7df4fc7a19.woff") format("woff"),
			 url("../fonts/soho_gothic_regular/c8f99b13-5b74-40ec-9f8c-ed3f7e79894c.ttf") format("truetype"),
			 url("../fonts/soho_gothic_regular/d51c088b-5562-4fcd-9b90-fdd878a7845e.svg#d51c088b-5562-4fcd-9b90-fdd878a7845e") format("svg")


@font-face
	font-family: "Soho Gothic W01 Bold"
	src: url("../fonts/soho_gothic_bold/ebde5cb0-b480-4ad1-9aff-7e9e103ea7c4.eot?#iefix");
	src: url("../fonts/soho_gothic_bold/ebde5cb0-b480-4ad1-9aff-7e9e103ea7c4.eot?#iefix") format("eot"),
			 url("../fonts/soho_gothic_bold/dbdf858a-b51c-45fd-8551-ec94798d66f2.woff") format("woff"),
			 url("../fonts/soho_gothic_bold/0ebe822a-9f3a-44dc-a4e2-8d039563f8ac.ttf") format("truetype"),
			 url("../fonts/soho_gothic_bold/6b15af3f-0369-44a4-a538-8019af845355.svg#6b15af3f-0369-44a4-a538-8019af845355") format("svg")

._soho_lig
	font-family: "Soho Gothic W01 Light"

._soho_reg
	font-family: "Soho Gothic W01 Regular"

._soho_bld
	font-family: "Soho Gothic W01 Bold"