@import '_mixins'

@keyframes loader
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(-360deg)

body

	.loader
		_size = 172px / 2

		size(_size, _size)
		abs_center(_size, _size)

		animation-name: loader
		animation-duration: 1s
		animation-timing-function: linear
		animation-iteration-count: infinite
		animation-play-state: paused

		&.play
			animation-play-state: running
	
	a > span,
	span.spritesheet
		display: block